body {
  border: 5px solid #757a79;
  border-radius: 10%;
  margin: 20px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  box-shadow: 2px 2px #757a79, -0.5em 0 0.4em #bbe9db;
  width: 600px;
  background-color: #e6ece1;
}
h1 {
  text-align: center;
  color: #1c5845;
  font-size: 40px;
}

.todaysDate {
  text-align: center;
  color: #1c5845;
  font-size: 20px;
}

.col {
  color: #1c5845;
}

h2 {
  text-align: center;
  color: #1c5845;
}

.weatherSearch {
  display: block;
  text-align: center;
}

.buttonOne {
  display: block;
  margin: 0 auto;
}

.container {
  display: block;
  margin: 0 auto;
}

.card {
  display: block;
  margin: 0 auto;
  color: #1c5845;
  border: 2px solid #1c5845;
  background-color: #dce6dc;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px #757a79, -0.5em 0 0.4em #bbe9db;
  font-size: 10px;
}

.currentTemp {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  color: #1c5845;
  background-color: #dce6dc;
  border: 5px solid #1c5845;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px #757a79, -0.5em 0 0.4em #bbe9db;
}

a {
  text-decoration: none;
}

.codedBy {
  text-align: center;
  font-size: 12px;
}

img {
  display: block;
  margin: 0 auto;
}
